<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales Training Deliverable Detail Page</title>
    <script>
        function form_loader() {
            var date_format = new Date("{{ my_deliverable_detail_record.content_complete_date }}");
            if ('{{ my_deliverable_detail_record.deliverable_id }}' === '0') {document.getElementById("deliverable_id").value=''}else{document.getElementById("deliverable_id").value={{ my_deliverable_detail_record.id }}}
            document.getElementById("course_name").value='{{ my_deliverable_detail_record.course_name }}';
            document.getElementById("category").value='{{ my_deliverable_detail_record.category }}';
            document.getElementById("project_lead").value='{{ my_deliverable_detail_record.project_lead }}';
            document.getElementById("project_code").value='{{ my_deliverable_detail_record.project_code }}';
            document.getElementById("status").value='{{ my_deliverable_detail_record.status }}';
            document.getElementById("course_duration").value='{{ my_deliverable_detail_record.course_duration }}';
            document.getElementById("course_description").value='{{ my_deliverable_detail_record.course_description }}';
            document.getElementById("notes").value='{{ my_deliverable_detail_record.notes }}';

            myDate = new Date('{{ my_deliverable_detail_record.content_complete_date.day }}/{{ my_deliverable_detail_record.content_complete_date.month}}/{{ my_deliverable_detail_record.content_complete_date.year }}')


            if ('{{ my_deliverable_detail_record.content_complete_date }}' === 'None') {document.getElementById("content_complete_date").value=''}else{document.getElementById("content_complete_date").value='{{ my_deliverable_detail_record.content_complete_date.month }}/{{ my_deliverable_detail_record.content_complete_date.day}}/{{ my_deliverable_detail_record.content_complete_date.year }}'}
            if ('{{ my_deliverable_detail_record.record_date }}' === 'None') {document.getElementById("record_date").value=''}else{document.getElementById("record_date").value='{{ my_deliverable_detail_record.record_date.month }}/{{ my_deliverable_detail_record.record_date.day }}/{{ my_deliverable_detail_record.record_date.year }}'}
            if ('{{ my_deliverable_detail_record.processing_complete_date }}' === 'None') {document.getElementById("processing_complete_date").value=''}else{document.getElementById("processing_complete_date").value = '{{ my_deliverable_detail_record.processing_complete_date.month }}/{{ my_deliverable_detail_record.processing_complete_date.day }}/{{ my_deliverable_detail_record.processing_complete_date.year }}'}
            if ('{{ my_deliverable_detail_record.post_processing_complete_date }}' === 'None') {document.getElementById("post_processing_complete_date").value=''}else{document.getElementById("post_processing_complete_date").value = '{{ my_deliverable_detail_record.post_processing_complete_date.month }}/{{ my_deliverable_detail_record.post_processing_complete_date.day }}/{{ my_deliverable_detail_record.post_processing_complete_date.year }}'}
            if ('{{ my_deliverable_detail_record.target_deploy_date }}' === 'None') {document.getElementById("target_deploy_date").value=''}else{document.getElementById("target_deploy_date").value='{{ my_deliverable_detail_record.target_deploy_date.month }}/{{ my_deliverable_detail_record.target_deploy_date.day }}/{{ my_deliverable_detail_record.target_deploy_date.year }}'}
        }
    </script>
</head>
<body onload="form_loader()">
    <br><br>
    <div align="center"><h1>Sales Training Deliverable Detail Page</h1></div><br><br>
    <form name="deployment_detail_form" action="/detail/deliverable_detail_submit/" method="post">
        {% csrf_token %}
        <table align="center">
            <tr ><td align="center" colspan="2"></td></tr>
            <tr><td align="right">Deliverable ID</td>           <td><input type="text" name="deliverable_id" id="deliverable_id" readonly></td></tr>
            <tr><td align="right">Course Name</td>             <td><input type="text" name="course_name" id="course_name"></td></tr>
            <!--<tr><td align="right">Category</td>                 <td><input type="text" name="category" id="category"></td></tr> -->
            <tr><td align="right">Category</td>                 <td><select name="category" id="category">
                <option value = "AI Engine">AI Engine</option>
                <option value = "Silicon">Silicon</option>
                <option value = "Software/IP/Tools - SDAccel">Software/IP/Tools - SDAccel</option>
                <option value = "Software/IP/Tools - HLS">Software/IP/Tools - HLS</option>
                <option value = "Software/IP/Tools - Vivado">Software/IP/Tools - Vivado</option>
                <option value = "Software/IP/Tools - SDSoC">Software/IP/Tools - SDSoC</option>
                <option value = "Software/IP/Tools - IP">Software/IP/Tools - IP</option>
                <option value = "Software/IP/Tools - Other">Software/IP/Tools - Other</option>
                <option value = "Data Center">Data Center</option>
                <option value = "Comms">Comms</option>
                <option value = "ISM">ISM</option>
                <option value = "TME">TME</option>
                <option value = "AVB">AVB</option>
                <option value = "TME">TME</option>
                <option value = "Functional Safety/Security">Functional Safety/Security</option>
                <option value = "A&D">A&D</option>
                <option value = "Automotive">Automotive</option>
                <option value = "Alveo">Alveo</option>
            </select></td></tr>
            <tr><td align="right">Project Lead</td>             <td><input type="text" name="project_lead" id="project_lead"></td></tr>
            <tr><td align="right">Project Code</td>             <td><input type="text" name="project_code" id="project_code"></td></tr>
            <!--<tr><td align="right">Status</td>   <td><input type="text" name="status" id="status"></td></tr> -->
            <tr><td align="right">Status</td>   <td><select name="status" id="status">
                <option value = "1) New">1) New</option>
                <option value = "2) Develop">2) Develop</option>
                <option value = "3) Record">3) Record</option>
                <option value = "4) Post-Processing">4) Post-Processing</option>
                <option value = "5) Deploy">5) Deploy</option>
                <option value = "6) Complete">6) Complete</option>
                <option value = "7) Cancel">7) Cancel</option>
            </select></td></tr>
            <tr><td align="right">Course Duration</td>              <td><input type="text" name="course_duration" id="course_duration"></td></tr>
            <tr><td align="right">Course Description</td>       <td><input type="text" name="course_description" id="course_description"></td></tr>
            <tr><td align="right">Notes</td>  <td><input type="text" name="notes" id="notes"></td></tr>
            <tr><td align="right">Content Complete Date</td>          <td><input type="text" name="content_complete_date" id="content_complete_date"></td></tr>
            <tr><td align="right">Record Date</td>         <td><input type="text" name="record_date" id="record_date"></td></tr>
            <tr><td align="right">Processing Complete Date</td>        <td><input type="text" name="processing_complete_date" id="processing_complete_date"></td></tr>
            <tr><td align="right">Post Processing Complete Date</td>        <td><input type="text" name="post_processing_complete_date" id="post_processing_complete_date"></td></tr>
            <tr><td align="right">Target Deploy Date</td>        <td><input type="text" name="target_deploy_date" id="target_deploy_date"></td></tr>
        </table>
        <br><br><br>
        <div align="center"><input type="submit" name="save" value="Save"/>
            <input type="submit" name="save_exit" value="Save and Exit"/>

        <input type="submit" name="cancel_button"  value="Cancel"/>
        <input type="submit" name="deploy_button" value="Deploy"/></div>
    </form>
</body>
</html>