<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deployment Detail Page</title>
    <script>
        function form_loader() {
            document.getElementById("deliverable_id").value={{ my_deployment_detail_record.deliverable_id }}
            document.getElementById("category").value='{{ my_deployment_detail_record.category }}'
            document.getElementById("project_code").value='{{ my_deployment_detail_record.project_code }}'
            document.getElementById("course_order").value='{{ my_deployment_detail_record.course_order }}'
            document.getElementById("curriculum_name").value='{{ my_deployment_detail_record.curriculum_name }}'
            document.getElementById("curriculum_description").value='{{ my_deployment_detail_record.curriculum_description }}'
            document.getElementById("course_name").value='{{ my_deployment_detail_record.course_name }}'
            document.getElementById("course_description").value='{{ my_deployment_detail_record.course_description }}'
            document.getElementById("days_to_complete").value={{ my_deployment_detail_record.days_to_complete_course }}
            document.getElementById("course_duration").value='{{ my_deployment_detail_record.course_duration }}'
            document.getElementById("course_key_words").value='{{ my_deployment_detail_record.course_key_words }}'
            document.getElementById("course_exam").checked = '{{ my_deployment_detail_record.course_exam }}'
            document.getElementById("approved_audience").value='{{ my_deployment_detail_record.approved_audience }}'
            if ('{{ my_deployment_detail_record.course_exam }}' === 'false') {
                document.getElementById("course_exam").checked = false
            }
        }



    </script>
</head>
<body onload="form_loader()">
    <br><br>
    <div align="center"><h1>This is the deployment detail page</h1></div><br><br>
    <form name="deployment_detail_form" action="/deployment_detail/deployment_detail_submit/" method="post">
        <table align="center">
            <tr ><td align="center" colspan="2"></td></tr>
            <tr><td align="right">Deliverable ID</td>           <td><input type="text" name="deliverable_id" id="deliverable_id"></td></tr>
            <tr><td align="right">Category</td>                 <td><input type="text" name="category" id="category"></td></tr>
            <tr><td align="right">Project Code</td>             <td><input type="text" name="project_code" id="project_code"></td></tr>
            <tr><td align="right">Course Order</td>             <td><input type="text" name="course_order" id="course_order"></td></tr>
            <tr><td align="right">Curriculum Name</td>          <td><input type="text" name="curriculum_name" id="curriculum_name"></td></tr>
            <tr><td align="right">Curriculum Description</td>   <td><input type="text" name="curriculum_description" id="curriculum_description"></td></tr>
            <tr><td align="right">Course Name</td>              <td><input type="text" name="course_name" id="course_name"></td></tr>
            <tr><td align="right">Course Description</td>       <td><input type="text" name="course_description" id="course_description"></td></tr>
            <tr><td align="right">Days to Complete Course</td>  <td><input type="text" name="days_to_complete" id="days_to_complete"></td></tr>
            <tr><td align="right">Course Duration</td>          <td><input type="text" name="course_duration" id="course_duration"></td></tr>
            <tr><td align="right">Course Key Words</td>         <td><input type="text" name="course_key_words" id="course_key_words"></td></tr>
            <tr><td align="right">Course Exam (Y/N)</td>        <td><input type="checkbox" name="course_exam" id="course_exam" value="Yes"></td></tr>
            <tr><td align="right">Approved Audience</td>        <td><input type="text" name="approved_audience" id="approved_audience"></td></tr>
        </table>
        <br><br><br>
        <div align="center"><input type="submit" name="deployment_save" value="Save"/> <input type="submit" name="deployment_save_close" value="Save/Close"/> <input type="submit" name="deployment_cancel" value="Cancel"/></div>
        {% csrf_token %}
    </form>
</body>
</html>