<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deployment Queue Page</title>
     <script>
        function form_loader()
        {
            deliverable_id_array = [ {% for item in deployment_records %}"{{item.deliverable_id}}", {% endfor %} ]
            category_array = [ {% for item in deployment_records %}"{{item.category}}", {% endfor %} ]
            project_code_array = [ {% for item in deployment_records %}"{{item.project_code}}", {% endfor %} ]
            course_order_array = [ {% for item in deployment_records %}"{{item.course_order}}", {% endfor %} ]
            curriculum_name_array = [ {% for item in deployment_records %}"{{item.curriculum_name}}", {% endfor %} ]
            curriculum_description_array = [ {% for item in deployment_records %}"{{item.curriculum_description}}", {% endfor %} ]
            course_name_array = [ {% for item in deployment_records %}"{{item.course_name}}", {% endfor %} ]
            course_description_array = [ {% for item in deployment_records %}"{{item.course_description}}", {% endfor %} ]
            days_to_complete_course_array = [ {% for item in deployment_records %}"{{item.days_to_complete_course}}", {% endfor %} ]
            course_duration_array = [ {% for item in deployment_records %}"{{item.course_duration}}", {% endfor %} ]
            course_key_words_array = [ {% for item in deployment_records %}"{{item.course_key_words}}", {% endfor %} ]
            course_exam_array = [ {% for item in deployment_records %}"{{item.course_exam}}", {% endfor %} ]
            approved_audience_array = [ {% for item in deployment_records %}"{{item.approved_audience}}", {% endfor %} ]
            deployment_status_array = [ {% for item in deployment_records %}"{{item.deployment_status}}", {% endfor %} ]




            table = document.getElementById("queue_table");


            for (i = 0; i < deliverable_id_array.length; i++) {
                var row = table.insertRow(i + 1);
                var cell = row.insertCell(0);
                cell.innerHTML = deliverable_id_array[i].link("/detail/deliverable_link?deliverable_id=" + deliverable_id_array[i]);
                cell.style.textAlign = "center";
                var cell = row.insertCell(1);
                cell.innerHTML = category_array[i];
                var cell = row.insertCell(2);
                cell.innerHTML = project_code_array[i];
                cell.style.textAlign = "center";
                var cell = row.insertCell(3);
                cell.style.textAlign = "center";
                cell.innerHTML = course_order_array[i];

                var cell = row.insertCell(4);
                cell.innerHTML = curriculum_name_array[i];
                cell.style.textAlign = "center";
                var cell = row.insertCell(5);
                cell.innerHTML = curriculum_description_array[i];
                cell.style.textAlign = "center";
                var cell = row.insertCell(6);
                cell.innerHTML = course_name_array[i];
                cell.style.textAlign = "center";
                var cell = row.insertCell(7);
                cell.innerHTML = course_description_array[i];
                cell.style.textAlign = "center";

                var cell = row.insertCell(8);
                cell.innerHTML = days_to_complete_course_array[i];
                cell.style.textAlign = "center";
                var cell = row.insertCell(9);
                cell.innerHTML = course_duration_array[i];
                cell.style.textAlign = "center";
                var cell = row.insertCell(10);
                cell.innerHTML = course_key_words_array[i];
                cell.style.textAlign = "center";
                var cell = row.insertCell(11);
                cell.innerHTML = course_exam_array[i];
                cell.style.textAlign = "center";
                var cell = row.insertCell(12);
                cell.innerHTML = approved_audience_array[i];
                cell.style.textAlign = "center";
                var cell = row.insertCell(13);
                cell.innerHTML = '<input type="checkbox" name="Completed" value=' + deliverable_id_array[i] + '>';
                cell.style.textAlign = "center";
            }
        }

        </script>
</head>
<body onload="form_loader()">
    <div align="right">Logged in as: {{ profile_info.username }} <a href="/logout/">logout</a></div>
    <br><br>
    <div align="center"><h1>Deployment Queue Page</h1></div><br><br>
    <form name="queue_form" action="/deployment_queue/queue_submit/" method="post">
        {% csrf_token %}
        <table id="queue_table" align="center" border="1">
            <thead><tr><td align="center">Deliverable ID</td><td align="center">Category</td><td align="center">Project Code</td><td align="center">Course Order</td><td align="center">Curriculum Name</td><td align="center">Curriculum Description</><td align="center">Course Name</td><td align="center">Course Description</td><td align="center">Days to Complete</td><td align="center">Course Duration</td><td align="center">Course Keywords</td><td align="center">Course Exam</td><td align="center">Approved Audience</td><td align="center">Deployment Complete</td></tr></thead>
        </table>
        <br><br><br>
       <div align="center"><input type="submit" name="save_deployment_queue" value="Save"/>  <input type="submit" name="save_exit_deployment_queue" value="Save/Exit"/>  <input type="submit" name="cancel_deployment_queue" value="Cancel"/></div>
    </form>
</body>
</html>