<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Data Page</title>
</head>
<body>
    <div align="right">Logged in as: {{ profile_info.username }} <a href="/logout/">logout</a></div>
    <div align="center" ><h2>The data below is a combination of Django authentication fields and fields from the class in models.py called UserProfile.<br>  Together they make up all the information we have on the currently logged in user.</h2></div>
    <br>
    <br>
    <br>
    <div align="center" >username = {{ username }}</div><br>
    <div align="center" >First Name = {{ first_name }}</div><br>
    <div align="center" >Last Name = {{ last_name }}</div><br>
    <div align="center" >Email = {{ email }}</div><br>
    <div align="center" >Role = {{ role }}</div><br>
    <div align="center" >Phone = {{ phone }}</div><br>
    <div align="center" >Topic Interest = {{ topic_interest }}</div><br>
    <div align="center" >Notes = {{ notes }}</div><br>

</body>
</html>