<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deliverable Queue Page</title>
     <script>
        function form_loader()
        {
            deliverable_id_array = [ {% for item in deliverable_records %}"{{item.id}}", {% endfor %} ]
            deliverable_name_array = [ {% for item in deliverable_records %}"{{item.course_name}}", {% endfor %} ]
            deliverable_category_array = [ {% for item in deliverable_records %}"{{item.category}}", {% endfor %} ]
            deliverable_project_lead_array = [ {% for item in deliverable_records %}"{{item.project_lead}}", {% endfor %} ]
            deliverable_project_code_array = [ {% for item in deliverable_records %}"{{item.project_code}}", {% endfor %} ]
            deliverable_status_array = [ {% for item in deliverable_records %}"{{item.status}}", {% endfor %} ]
            deliverable_course_duration_array = [ {% for item in deliverable_records %}"{{item.course_duration}}", {% endfor %} ]
            deliverable_course_description_array = [ {% for item in deliverable_records %}"{{item.course_description}}", {% endfor %} ]
            deliverable_notes_array = [ {% for item in deliverable_records %}"{{item.notes}}", {% endfor %} ]

            content_complete_date = [ {% for item in deliverable_records %}"{{item.content_complete_date.month}}/{{item.content_complete_date.day}}/{{item.content_complete_date.year}}", {% endfor %} ]
            recording_complete_date = [ {% for item in deliverable_records %}"{{item.record_date.month}}/{{item.record_date.day}}/{{item.record_date.year}}", {% endfor %} ]
            post_processing_complete_date = [ {% for item in deliverable_records %}"{{item.post_processing_complete_date.month}}/{{item.post_processing_complete_date.day}}/{{item.post_processing_complete_date.year}}", {% endfor %} ]
            target_deploy_date = [ {% for item in deliverable_records %}"{{item.target_deploy_date.month}}/{{item.target_deploy_date.day}}/{{item.target_deploy_date.year}}", {% endfor %} ]
            if ('{{ role }}' == 'Admin')
            {
                document.getElementById('deployment_queue').style.display="block";
                document.getElementById('create_account').style.display="block";
            }else
            {
                document.getElementById('deployment_queue').style.display="none";
                document.getElementById('create_account').style.display="none";
            }
            table = document.getElementById("queue_table");

            for (i = 0; i < deliverable_id_array.length; i++) {
                var row = table.insertRow(i+1);
                var cell = row.insertCell(0);
                cell.innerHTML = deliverable_id_array[i].link("/detail/deliverable_link?deliverable_id=" + deliverable_id_array[i]);
                cell.style.textAlign = "center";
                var cell = row.insertCell(1);
                cell.innerHTML = deliverable_name_array[i];
                var cell = row.insertCell(2);
                cell.innerHTML = deliverable_category_array[i];
                cell.style.textAlign = "center";
                var cell = row.insertCell(3);
                cell.style.textAlign = "center";
                cell.innerHTML = deliverable_project_lead_array[i];
                cell.style.textAlign = "center";
                var cell = row.insertCell(4);
                if (content_complete_date[i] != "//") {cell.style.textAlign = "center";cell.innerHTML = content_complete_date[i]} else {cell.innerHTML = ""}
                var cell = row.insertCell(5);
                if (recording_complete_date[i] != "//") {cell.style.textAlign = "center";cell.innerHTML = recording_complete_date[i]} else {cell.innerHTML = ""}
                var cell = row.insertCell(6);
                if (post_processing_complete_date[i] != "//") {cell.style.textAlign = "center";cell.innerHTML = post_processing_complete_date[i]} else {cell.innerHTML = ""}
                var cell = row.insertCell(7);
                if (target_deploy_date[i] != "//") {cell.style.textAlign = "center";cell.innerHTML = target_deploy_date[i]} else {cell.innerHTML = ""}
                var cell = row.insertCell(8);
                cell.style.textAlign = "center";
                cell.innerHTML = deliverable_status_array[i];
                cell.style.textAlign = "center";
            }
            document.getElementById("selection").value = '{{ selection_value }}';
        }
        function my_selection()
        {
            var selection = document.getElementById("selection");
            var select_value = selection.options[selection.selectedIndex].value;
            document.queue_form.submit();

        }
        </script>
</head>
<body onload="form_loader()">
    <br><br>
    <div align="center"><h1>Sales Training Deliverable Queue Page</h1></div><br><br>
    <form name="queue_form" action="/queue/queue_submit/" method="post">
        {% csrf_token %}
        <div align="center">
            <input type="submit" name="search" id="search">  <input type="text" name="search_box" id="search_box"><br><br>
            <select name="selection" id="selection" onchange="my_selection()">
            <option value = "Develop Queue">Develop Queue</option>
            <option value = "Record Queue">Record Queue</option>
            <option value = "Post Processing Queue">Post Processing Queue</option>
            <option value = "Deployment Queue">Deployment Queue</option>
            <option value = "Show All Deliverables">Show All Deliverables</option>
        </select><br><br><br><br></div>
        <table id="queue_table" align="center" width="1500" border="1">
            <thead><tr><td align="center">Deliverable ID</td><td align="center">Course Name</td><td align="center">Category</td><td align="center">Project Lead</td><td align="center">Content Complete Date</td><td align="center">Recording Complete Date</><td align="center">Post Processing Complete Date</td><td align="center">Target Deploy Date</td><td align="center">Status</td></tr></thead>
        </table>
        <br><br><br>
       <div align="center"><input type="submit" name="create_deliverable" value="Create Deliverable"/><br><br><input type="submit" id="deployment_queue" name="deployment_queue" value="Deployment Queue"/><br><input type="submit" id="create_account" name="create_account" value="Create Account"/></div>
    </form>
</body>
</html>